<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uzlahpri.newsappp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_daily"
        android:label="@string/daily"
        android:roundIcon="@drawable/logo_daily"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsAppp">
        <activity android:name=".activity.DetailActivity"></activity>
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.ForgotActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>